@font-face {
	font-family: "Cardo";
	src: url("../_fonts/Cardo99s-webfont.eot");
	src: url("../_fonts/Cardo99s-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/Cardo99s-webfont.woff") format("woff"), url("../_fonts/Cardo99s-webfont.ttf") format("truetype"), url("../_fonts/Cardo99s-webfont.svg#webfontQ5EXXZTZ") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OstrichSansBold';
	src: url('../_fonts/ostrich-bold-webfont.eot');
	src: url('../_fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/ostrich-bold-webfont.woff') format('woff'), url('../_fonts/ostrich-bold-webfont.ttf') format('truetype'), url('../_fonts/ostrich-bold-webfont.svg#OstrichSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
header {
	width: 33%;
	height: 100%;
	float: left;
}
h1 {
	font-family: Cardo, Georgia;
	color: black;
	text-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
#logo {
	height: 100px;
	width: 100px;
	background: url(../img/logo.jpg);
	background-size: 100% 100%;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
#titulo {
	width: 600px;
	height: 100px;
}
section {
	width: 100%;
	height: 100%;
	position: relative;
	top: 100px;
}
.imagen-destacado {
	width: 200px;
	height: 100px;
	background: grey;
	float: left;
	margin-right: 10px;
	margin-top: 30px;
}
#contenedor {
	width: 100%;
	height: 100%;
}
#titulo {
	position: absolute;
	margin: 0px;
	padding: 0px;
}
h1,h2,h3,h4,h5,h6,p {
	padding: 0px;
	margin: 0px;
}
nav {
	margin-top: 100px;
	width: 90%;
	height: 55%;
	box-shadow: -25px 0 50px rgba(0,0,0,0.2) inset;
}
nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
nav ul li {
	width: 95%;
	border-bottom: 1px solid black;
	height: 50px;
	padding-top: 20px;
	padding-left: 10px;
	font-size: 24px;
	text-transform: uppercase;
}
nav ul li a {
	color: black;
	text-decoration: none;
}
#img1 {
	background: url(../img/philly_04.jpg);
	background-size: 100% 100%;
}
#img2 {
	background: url(../img/philly_05.jpg);
	background-size: 100% 100%;
}
#img3 {
	background: url(../img/philly_08.jpg);
	background-size: 100% 100%;
}